* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", Arial, sans-serif;

}

h1 {
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    font-family: "Noto Sans", sans-serif;
}

.main-menu {
    position: relative;
    background: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.main-menu-buttons {
    /*scope of buttons*/
    position: absolute;
    padding: 50px 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px) brightness(0.93);
    border-radius: 20px;
    border: 5px solid url(./assets/border.png);
}

.main-menu button {
    margin: 0 10px;
    padding: 15px 30px;
    font-size: 45px;
    letter-spacing: 3.5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: aliceblue;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black,
        0px -2px 0 black,
        2px 0px 0 black,
        0px 2px 0 black,
        -2px 0px 0 black;
}

.main-menu button:hover {
    transform: scale(1.35);
    color: yellow;
}

.main-menu button:active {
    transform: scale(1.25);
    color: orange;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.map-viewport {
    grid-area: 1 / 1 / 3 / 2;
}

.person-viewport {
    grid-area: 1 / 2 / 2 / 3;
}

.settings-viewport {
    grid-area: 2 / 2 / 3 / 3;
}


/*Media Quaries*/
@media (max-width: 1200px) {
    .main-menu button {
        font-size: 35px;
    }

    h1 {
        font-size: 80px;
        line-height: 140px;
    }
}

@media (max-width: 1024px) {
    .main-menu button {
        font-size: 30px;
    }

    h1 {
        font-size: 60px;
        line-height: 90px;
    }
}